section {
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.presentation{
    width: fit-content;
    padding: 5px;
    border: 1px solid rgb(28, 51, 133);

    height: fit-content;
}

.board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
    background-color: rgb(91, 232, 197);
    border: 1px solid rgb(0, 255, 94);
}
.board-result{
    width: 350px;
    height: 500px;
    background-color: aliceblue;
    border: 1px solid rgb(0, 255, 94);
    display: flex;
    justify-content: center;
    align-items: center;
}
.board-result .result{
    width: 60%;
    height: fit-content;
    padding: 30px;
    border: 1px solid red;
}
.player-information{
    display: grid;
    grid-template-columns: 50px 150px 100px;
    width: max-content;
    padding: 10px 5px;
    border: 1px solid red;
}
.front-entry{
    width: fit-content;
    height: fit-content;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3,70px);
    gap: 10px;
    padding: 10px;
}
.entry{
    /* position: relative; */
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.entry .p{
    margin: auto;
}
.entry:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6) ;
}
.front-pawns{
    width: fit-content;
    height: fit-content;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.pawn{
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.pawn[id^="a"]{
    background-color: rgb(40, 77, 238);
}
.pawn[id^="b"]{
    background-color: rgb(198, 21, 21);
}
.pawn:hover{
    cursor: pointer;
}