html, body {
    overflow: hidden;
  }

body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(169, 30, 211); */

}
section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(227, 19, 19);
}
.presentation{
    position: relative;
    width: 350px;
    height: 600px;
    padding: 5px;
    display: grid;
    place-items: center;
    border: 1px solid rgb(94, 94, 94);
    background-color: #fff;
}
.setting{
    position: relative;
    display: grid;
    height: 40%;
    grid-template-columns: 150px 80px;
    place-items: center;

    border: 1px solid rgb(94, 94, 94);
}
.model-pawn,.color-pawn{
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.model-pawn#a{
    background-color: #0000ff;
}
.model-pawn#b{
    background-color: #ff0000;
}
.setting .title{
    font-weight: 700;
    height: fit-content;
}
.setting span{
    width: 120px;
    height: fit-content;
}
.new-party{
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,0);
}
.new-party button{
    background-color: rgb(33, 74, 223);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 200px;
    font-size: 1.4rem;
    cursor: pointer;
}
.new-party button:active{
    background-color: rgb(9, 59, 237);
}

.option1,.option2{
    position: absolute;
    display: grid;
    grid-template-columns: 60px 60px 60px;
    gap: 5px;
    place-items: center;
    background-color: #fff;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 5px;
}
.color-pawn._1{
    background-color: #ff0000;
}
.color-pawn._2{
    background-color: #505022;
}
.color-pawn._3{
    background-color: #ffa500;
}
.color-pawn._4{
    background-color: #0000ff;
}
.color-pawn._5{
    background-color: #00ffff;
}
.color-pawn._6{
    background-color: #800080;
}
.color-pawn._7{
    background-color: #00ff00;
}
.color-pawn._8{
    background-color: #dea0ab;
}
.color-pawn._9{
    background-color: #a52a2a;
}
.model{
    position: relative;
}

.option-space{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.msg-error{
    position: absolute;
    bottom: 19%;
    background-color: #c64747;
    width: 270px;
    padding: 0px 10px;
    color: #fff;
}

.msg-error p{
    font-size: 0.7em;
    line-height: 1.2;
}
.msg-error i.ri-alert-line{
    font-size: 1.7em;
}